language: android

android:
  components:
    - tools
    - build-tools-28.0.2
    - android-27
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - android-sdk-license-.+

jdk:
  - oraclejdk8

before_install:
  - yes | sdkmanager "platforms;android-27"

cache:
  directories:
    - ~/.m2
    - ~/.gradle

script:
  - ./gradlew test --stacktrace
after_success:
  - ./gradlew jacocoTestReport
  - bash <(curl -s https://codecov.io/bash)